.main-chat
  .main-header
    .main-header--left-box
      .main-header--left-box__group
        グループ名
      .main-header-left-box__member-list
        Member : 
        .main-header-left-box__member-list__member
        メンバー名
    .main-header__edit-btn
      Edit

  .message
    .message__data-message
      .message__upper-info
        .message__upper-info__talker
          メンバー名
        .message__upper-info__data
          2019/11/16(Sat) 06:56:51
      .message__text
        this is a first message.

  .form
    %form.form__new-message{id: "new_message", method: "post"}
      .form__new-message__input-box
        %input.form__new-message__input-box__text{placeholder: "type a message"}
        %label.form__new-message__input-box__image{for: "message_image"}
          %li.form__new-message__input-box__image--picture-o
            = fa_icon 'picture-o'
            %input.form__new-message__input-box__image__file{type: "file", name: "message[image]", id: "message_image"}
        
      %input.form__new-message__submit-btn{name: "commit", type: "submit", value: "Send"}
      
      