.side-bar
  .side-header
    .side-header__box
      .side-header__box__user-name
        ユーザーネーム
    %ul.side-header__box__menu
      %li.side-header__box__menu__edit
        = fa_icon 'edit'
      %li.side-header__box__menu__cog
        = fa_icon 'cog'
    
  .groups
    .group
      .group__group-name
        test1
      .group__group-message
        まだメッセージはありません

      .group__group-name
        test2
      .group__group-message
        まだメッセージはありません

