.side-bar
  .side-bar__user
    .side-bar__user-content
    .side-bar__user-content--name
      ユーザーネーム
    %ul.side-bar__lists
      %li.side-bar__lists--edit
        = fa_icon 'edit'
      %li.side-bar__lists--cog
        = fa_icon 'cog'
    
  .side-bar-groups
    .side-bar-groups__name
      test1
    .side-bar-groups__message
      まだメッセージはありません

    .side-bar-groups__name
      test2
    .side-bar-groups__message
      まだメッセージはありません

